@font-face {
    font-family: 'Beaufort for LOL';
    src: url('/public/BeaufortforLOL-Medium.ttf');
}

body {
    font-family: 'Beaufort for LOL', sans-serif;
    color: #C89B3C;
    position: relative;
  }
  ::-webkit-scrollbar{
    display: none;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/background2.webp');
    filter: brightness(0.2) contrast(1.3) saturate(120%) hue-rotate(180deg);
    z-index: -1;
  }
  

@keyframes toSpin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }